@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap');

:root {
    --color-blue: #83dbcd;
    --color-salmao: #ff8674;
    --color-red: #ed3237;
    --color-orange: #faa831;
    --color-gray: #5c5c5c;
    --color-gray-1: #ededed;
    --color-gray-2: #f9f9f9;
    --color-dark: #000;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
}

html, body, button, input {
    font-family: 'Baloo Tamma 2', cursive;
}

ul, li, a {
    text-decoration: none;
}
